.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* For StarWarsUseEfx Component */
.mainpanel{
  border: 0.5em solid lightgray;
  border-radius: 2em;
  margin: 2em;
  padding: 2em;
}

/* For StarWarsList and StarWarsFavourites Components */
.floatingbox{
  border: 0.5em solid lightgray;
  border-radius: 2em;
  margin: 2em;
  padding: 2em;
  height: 100%;
  min-height: 200px;
}


/* For App.js to contain floatingbox */
.floatingboxcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  background-color: white;
}

p{
  padding: 0.1em;
  font-size: small;
  text-align: left;
  margin: 0;
  padding: 2;
}

/* For CharacterCard Component */
.charactercard{
  background-color: lightgrey;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 0.5em;
}

/* For CharacterCard Component's Hover Effect */
.charactercard:hover{
  cursor: pointer;
  background-color: cadetblue;
  color: white;
}

/* For RemoveCharacterCard Component */
.removecharactercard{
  background-color: lightgrey;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 0.5em;
}

/* For RemoveCharacterCard Component's Hover Effect */
.removecharactercard:hover{
  cursor: pointer;
  background-color: lightcoral;
  color: white;
}